---
import Container from "../../components/Container.astro";
import Layout from '../../layouts/Layout.astro';
import articlesData from '../../components/Data/articles.json';

export async function getStaticPaths() {
  return articlesData.map(article => ({
    params: { id: article.id.toString() },
  }));
}

const { id } = Astro.params;
const article = articlesData.find(article => article.id.toString() === id);

if (!article) {
  throw new Error(`Article with id ${id} not found`);
}

const { title, publish_date, description, author, authorImage, duration, hours, credits, professionalTitle, profile, planImg1, planImg2, planImg3, planImg4, planImg5, curriculumLink } = article;
export const prerender = true;
---

<Layout title="Programa de Estudios">
  <main class="space-y-40 mb-40 pt-24">
    <Container>
      <section class="bg-white">
        <div class="grid gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="text-gray-700 sm:text-lg">
            <h2 class="mb-4 text-3xl font-extrabold text-gray-900">{title}</h2>
            <p class="mb-4">{description}</p>
            <div class="overflow-x-auto mt-6">
              <table class="min-w-full divide-y divide-gray-300">
                <tbody class="bg-white divide-y divide-gray-300">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Duración</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{duration}</td>
                  </tr>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Nº de Horas</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{hours}</td>
                  </tr>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Nº de Créditos</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{credits}</td>
                  </tr>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Título Profesional</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{professionalTitle}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex items-center justify-between mt-6">
              <div class="flex items-center space-x-4">
                <img src={authorImage} alt={author} class="h-12 w-12 rounded-full" />
                <span class="font-medium">{author}</span>
              </div>
              <span class="text-sm text-gray-500">{publish_date}</span>
            </div>
          </div>
          <div class="flex flex-col items-center gap-4 mt-8">
            {[planImg1, planImg2, planImg3, planImg4, planImg5].filter(Boolean).map((img, index) => (
              <img  class="w-4/5 rounded-lg" src={img} alt={`Plan de estudios ${index + 1}`} />
            ))}
          </div>
        </div>
      </section>

      <section class="bg-white mt-16">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <h2 class="text-center mb-4 text-3xl font-extrabold text-gray-900">Perfil del egresado</h2>
          <p class="text-gray-700 mb-8 text-center">{profile}</p>
        </div>
      </section>

      <section class="bg-white mt-16">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <h2 class="text-center mb-4 text-3xl font-extrabold text-gray-900">Plan de estudios</h2>
          <div class="flex flex-col items-center gap-4">
            {[planImg1, planImg2, planImg3, planImg4, planImg5].filter(Boolean).map((img, index) => (
              <img  class="w-4/5 rounded-lg" src={img} alt={`Plan de estudios ${index + 1}`} />
            ))}
          </div>
        </div>
      </section>

      <section class="bg-white mt-16">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 text-center">
          <h2 class="text-center mb-4 text-3xl font-extrabold text-gray-900">Diseño Curricular Básico Nacional</h2>
          <a href={curriculumLink} class="px-8 py-4 bg-black text-white rounded-lg hover:bg-red-600 transition-colors" rel="noopener noreferrer" target="_blank">
            <span class="text-xl font-medium">Ver más</span>
          </a>
        </div>
      </section>
    </Container>
  </main>
</Layout>
